# Diretórios e arquivos temporários
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Arquivos de configuração do IDE
.vscode/
.idea/

# Arquivos de dados
data/
*.csv

# Arquivos de logs
*.log

# Ambiente virtual
venv/
